<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

<head>
	<title>Categorylist</title>
	<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
</head>
<body>
	<h1>Categorys</h1>
	<table class="table table-striped">
		<tbody>
			<tr th:each = "category : ${categorys}">
			<td th:text="${category.name}"></td>
			</tr>
		</tbody>
	</table>
	<a href="/newcategory" class="btn btn-success"> New category</a>
</body>
</html>